  body {
    background-color: rgb(105, 193, 127);
  }

  h1 {
    color: white;
  }

  li {
    background-color: rgb(105, 193, 127);
  }

  li a {
    color: white;
  }

  .footer {
  bottom: 0;
  color: black;
  background-color: rgb(38, 193, 77);
  height: 2em;
  left: 0;
  right: 0;
  position: fixed;
  font-size: small;
  width:100%;
  text-align: center;
}
